ul {
  list-style-type: none;
  margin: 0;
}

.image-gallery {
  width: 360px;
  height: 300px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 100px;
}

.item-gallery {
  margin-bottom: 48px;
}
